* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden; 
}

.container {
    max-width: max-content;
    /* max-width: 1400px;  */
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.navbar {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 4rem;
    /* padding-left: 9.rem;
    padding-right: 2.5rem; */
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0;
    flex-wrap: wrap;
}

.nav-img {
    margin-top: 2rem;
    align-items: center;
}

.nav-img img {
    width: 12rem;
    height: 2rem;
    margin-right: 3.75rem;
    display: block;
    margin-top: 0.62rem;
}

.nav-list {
    font-size: 1rem;
    display: flex;
    list-style: none;
    padding: 0.62rem 0;
    gap: 2rem;
    margin: 0;
}

.nav-item {
    margin-top: 2rem;
    gap: 0.62rem;
}

.navbar select {
    border: none;
    font-size: 1rem;
    background: transparent;
}

.icon {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    margin-top: 2rem;
}

.hero {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    padding: 2rem;
}

.group-logo {
    position: relative;
    width: 100%;
    max-width: 40rem;
    margin: auto;
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-sizing: border-box;
}

.group-logo img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}

.hero-text {
    margin: auto;
    flex: 1;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
}

.hero-text h3 {
    font-weight: bold;
    letter-spacing: 0.05rem;
    font-size: 3.4rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.hero-text p {
    font-size: 1.56rem;
    font-weight: normal;
    margin-top: 1rem;
    line-height: 1.4;
    letter-spacing: 0.05rem;
    color: #50506a;
    padding-right: 2rem;
}

.app-logo {
    margin-top: 2.8rem;
}

.animation {
    width: 100%;
    display: flex;
    justify-content: center;
}

.scroll {
    width: 75rem;
    overflow: hidden;
}

.scroll-logo {
    display: flex;
    position: relative;
    justify-content: center;
    animation: scroll 10s linear infinite;
    margin-top: 1rem;
    padding-top: 1rem;
    width: max-content;
}

.scroll-logo img {
    padding: 2rem;
    flex-shrink: 0;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5.6rem;
    gap: 1rem;
    padding: 0 1rem;
    text-align: center;
}

.info h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.info p {
    font-size: 1.37rem;
    letter-spacing: 0.07rem;
    word-spacing: 0.1rem;
    padding-top: 1.25rem;
    color: #50506a;
    max-width: 100%;
    width: 100%;
}

.first-mobile {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    /* align-items: center; */
    gap: 2rem;
    padding: 5rem 1rem 0 1rem;
    box-sizing: border-box;
}

.second-mobile {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 1rem;
    box-sizing: border-box;
}

.first-mobile-img,
.second-mobile-img{
    flex: 1 1 45%;
    text-align: center;
    box-sizing: border-box;
}

.first-mobile-img img,
.second-mobile-img img {
    /* width: 100%; */
    height: auto;
    object-fit: contain;
    padding: 2rem;
}

.first-mobile-text {
    display: flex;
    flex: 1 1 45%;
    flex-direction: column;
    /* justify-content: center; */
    padding: 2rem;
    /* width: 100%; */
    gap: 1rem;
    box-sizing: border-box;
}

.second-mobile-text {
    display: flex;
    flex: 1 1 45%;
    flex-direction: column;
    /* justify-content: center; */
    padding: 2rem;
    gap: 1rem;
    box-sizing: border-box;
}

.log1,
.log2 {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    margin-top: 1rem;
}

.log1 img,
.log2 img {
    max-width: 4rem;
    height: auto;
}

.logo-info,
.logo-info2 {
    flex: 1;
    letter-spacing: 0.05rem;
    /* padding-top: 0.5rem; */
}

.logo-info h2,
.logo-info2 h2 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.3;
}

.logo-info p,
.logo-info2 p {
    font-size: 1.12rem;
    font-weight: 300;
    line-height: 1.75rem;
    color: #50506a;
    letter-spacing: 0.05rem;
    width: 100%;
}

.discount {
    margin-top: 5rem;
    padding: 0 5rem;
}

.discount-card {
    background-image: url(images/Line.png);
    background-color: #4F7EF7;
    border-radius: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem;
}

.discount-logo {
    flex: 1 1 20rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.discount-logo img {
    width: 100%;
    max-width: 25rem;
    height: auto;
    object-fit: contain;
    margin-top: -7rem;
}

.discount-text {
    flex: 1 1 25rem;
    color: #ffffff;
    justify-content: center;
    padding: 2rem 0;
    /* padding: 2rem 0.6rem 2rem 2rem; */
}

.discount-text h1 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: 0.06rem;
    padding-bottom: 1.25rem;
}

.discount-text p {
    font-size: 1.5rem;
    color: #efeff1;
    font-weight: 300;
    line-height: 2rem;
    letter-spacing: 0.06rem;
    padding-bottom: 2.5rem;
    padding-right: 2rem;
}

.learn-more-btn {
    background-color: #ffffff;
    padding: 1.25rem 2rem;
    font-size: 1rem;
    border-radius: 0.6rem;
    color: #4F7EF7;
    border: none;
    cursor: pointer;
    transition: margin-left 0.3s ease;
}

.learn-more-btn:hover {
    margin-left: 0.3rem;
}

.second-info {
    margin-top: 11.25rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem; 
    text-align: center;
    padding: 0 1rem;
}

.second-info h1 {
    font-size: 3rem; 
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.5px;
}

.second-info p {
    font-size: 1.25rem; 
    font-weight: 500;
    letter-spacing: 0.063rem;
    word-spacing: 0.063rem;
    color: #50506a;
    max-width: 39rem; 
    padding-top: 1.25rem; 
    line-height: 1.6;
}

.customer {
    margin-top: 3.125rem;
    padding: 2.5rem;
    padding: 2rem 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3.125rem;
    justify-content: center;
    box-sizing: border-box;
}

.customer-info {
    background-color: #4F7EF712;
    padding: 2.5rem;
    opacity: 7;
    border-radius: 1.5rem;
    height: 17rem;
    width: 36rem;
    max-width: 100%;
    min-width: 20rem;
    flex: 1 1 45%;
    box-sizing: border-box;
    object-fit: contain;
}

.customer-text {
    padding-top: 2vh;
}

.customer-text h1 {
    font-size: clamp(20px, 2.5vw, 28px);
    font-weight: 600;
    color: #161639;
    letter-spacing: 0.063rem;
}

.customer-text p {
    font-size: clamp(16px, 2vw, 20px);
    font-weight: 300;
    color: #50506a;
    letter-spacing: 0.5px;
    padding-top: 1vh;
    width: 100%;
    line-height: 1.5;
}

.storage {
    margin: 9.375rem auto 0rem auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #4F7EF712;
    width: 100%;
    /* align-items: start; */
    justify-content: space-between;
    justify-content: center;
    box-sizing: border-box;
    gap: 2rem;
}

.storage-img {
    flex: 1 1 25rem;
    max-width: 37.5rem;
    width: 100%;
    margin-top: -9.375rem;
}

.storage-img img {
    width: 100%;
    height: auto;
}

.storage-info {
    flex: 1 1 25rem;
    padding: 2rem;
    max-width: 37.5rem;
}

.storage-info h1 {
    font-size: clamp(1.8rem, 4vw, 3.5rem);
    font-weight: 700;
    color: #161639;
    letter-spacing: 0.063rem;
}

.storage-info p {
    margin-top: 0.9375rem;
    font-weight: 300;
    color: #50506a;
    letter-spacing: 0.063rem;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
}

.storage-info img {
    display: flex;
    padding-top: 1.875rem;
    max-width: 18.75rem;
    width: 80%;
    height: auto;
}

.footer {
    background-color: #161639;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-items: flex-start;
    justify-content: space-between;
}

.copyright {
    width: 40%;
    padding: 2rem 0 0 1rem;
    /* flex: 1 1 25rem; */
    box-sizing: border-box;
}

.copyright img {
    padding: 1rem;
    max-width: 100%;
}

.copyright p {
    color: #ffffff;
    padding: 0.5rem 0 0 1.5rem;
    font-weight: 200;
    font-size: 0.87rem;
}

.footer-data {
    padding: 4rem 2rem 0 4rem;
    min-width: 15rem;
    box-sizing: border-box;
}

.footer-data h1 {
    font-weight: 400;
    color: #ffffff;
    font-size: 1.12rem;
    padding-bottom: 1.25rem;
}

.footer-data p {
    padding: 0.62rem 0;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 300;
    transition: padding-left 0.3s, font-weight 0.3s;
}

.footer-data p:hover {
    padding-left: 0.4rem;
    font-weight: bold;
}

@media (max-width: 75rem) {
    .nav-list {
        display: none;
    }

    .navbar{
        width: 100%;
    }   

    .icon {
        display: block;
        order: 1; 
    }

    .group-logo {
        order: 2; 
        margin-left: auto;
    }

    .responsive-nav {
        width: 100%;
        justify-content: space-between;
    }

    .storage .storage-img {
        height: auto;
        margin-top: 0.5rem;
    }
}